package shared

// The general template for a page
templ Page(title string) {
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<title>{ title }</title>
		<script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
	</head>

	{ children... }

	@Footer()
	</html>
}
