@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
	themes: [
	"lofi"
	]
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --breakpoint-3xsm: 16rem;
  --breakpoint-2xsm: 24rem;
  --breakpoint-xsm: 32rem;
  --breakpoint-3xl: 112rem;
  --breakpoint-4xl: 124rem;
  --breakpoint-5xl: 136rem;
  --breakpoint-6xl: 1048rem;
}

@layer utilities{
	.strikethrough{
	  text-decoration: none;
	    position: relative;
	}
	
	.strikethrough::before{
	    content: '';
	    width: 100%;
	    position: absolute;
	    right: 0;
	    top: calc( 50% - 3px );
	    border-bottom: 6px solid rgba(0,0,0,1);
	}
	
	.strikethrough-gray{
	  	text-decoration: none;
	    position: relative;
	}
	
	.strikethrough-gray::before{
	    content: '';
	    width: 100%;
	    position: absolute;
	    right: 0;
	    top: calc( 50% - 3px );
	    border-bottom: 6px solid rgba(107, 114, 128, 1);
	}
}

@font-face {
    font-family: "comic-sans";
    src: url("/assets/fonts/Comic Sans MS.ttf");
}

.font-garamond {
	font-family: "adobe-garamond-pro", serif !important;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 
/* formatting daisyui components */
.navbar {
	@apply p-0;
	@apply bg-white;
	@apply min-h-24;
}

/* formatting for tailwind/typography */
.prose {
	/* set a break point when we change alignment */
	@apply sm:max-w-none;
	@apply md:max-w-none;
	@apply lg:mx-40;
	@apply lg:mx-40;
}

.prose pre { 
	@apply bg-black;
	@apply leading-tight;
}

.prose pre code { 
	@apply text-gray-200;
	@apply bg-black;
	@apply text-sm;
}

.prose code { 
	/* @apply text-gray-900; */
	@apply text-lg;
	/* @apply bg-gray-400; */
	@apply p-0;
	@apply rounded;
	@apply bg-transparent;
}

.prose h1 { 
	@apply text-left;
	@apply font-extrabold;
	@apply text-7xl;
}

.prose h2, h3, h4 { 
	@apply font-semibold;
	@apply mt-6;
}

.prose a { 
	@apply hover:text-gray-500;
}

.prose a.footnote-ref { 
	@apply text-blue-600;
	@apply no-underline;
}

.prose a.footnote-backref { 
	@apply text-blue-600;
	@apply no-underline;
}

.prose p { 
	/* @apply font-thin; */
	@apply lg:text-xl;
}

.prose dd, ul, dl, ol, li{
	/* @apply font-thin; */
	@apply lg:text-xl;
	@apply my-0;
}

.prose dt {
	@apply mt-0;
}

/* formatting for util */
@layer utilities {
  .scrollbar {
    &::-webkit-scrollbar {
      width: 15px;
      height: 15px;
    }

    &::-webkit-scrollbar-track {
      background: #fafafa;
      z-index: 25;
      border-left: 0.5px solid #e8e8e8;
      padding: 2px; /* Adds space around the thumb to prevent overlap */
      box-sizing: border-box;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 50px;
      background: #BDD5E7;
      border: 3px solid #fafafa;
      box-sizing: border-box;
      
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #9ABDDC;
    }
  }
}

