@import "tailwindcss";
@config "../internal/pub/tailwind.config.js";
@source "../internal/pub/**/*.{templ,go}";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
	themes: wireframe
}

@theme {
  --breakpoint-3xsm: 16rem;
  --breakpoint-2xsm: 24rem;
  --breakpoint-xsm: 32rem;
  --breakpoint-3xl: 112rem;
  --breakpoint-4xl: 124rem;
  --breakpoint-5xl: 136rem;
  --breakpoint-6xl: 1048rem;
}

@utility strikethrough{
	text-decoration: none;
	position: relative;
	
	&::before{
	    content: '';
	    width: 100%;
	    position: absolute;
	    right: 0;
	    top: calc( 50% - 3px );
	    border-bottom: 6px solid rgba(0,0,0,1);
	}
}
	
@utility strikethrough-gray{
	text-decoration: none;
	position: relative;
	
	&::before{
	    content: '';
	    width: 100%;
	    position: absolute;
	    right: 0;
	    top: calc( 50% - 3px );
	    border-bottom: 6px solid rgba(107, 114, 128, 1);
	}
}

@font-face {
    font-family: "comic-sans";
    src: url("/assets/fonts/Comic Sans MS.ttf");
}

#diagonal {
	position: fixed;
  	stroke: #ccc;
  	stroke-width: 1px;
  	width: 100vw;
  	height: 100vh;
}

#circle {
	border-radius: 100%;
	position: fixed;
	border: 1px solid #ccc;
	border-color: rgba(204,204,204,0.5);
	width: 100vmin;
	height: 100vmin;
	left: calc(50vw - 50vmin);
	top: calc(50vh - 50vmin);
}

#outer_circle {
	border-radius: 100%;
	position: fixed;
	border: 1px solid #ccc;
	border-color: rgba(204,204,204,0.5);
	width: 150vmin;
	height: 150vmin;
	left: calc(50vw - 75vmin);
	top: calc(50vh - 75vmin);
}

.font-garamond {
	font-family: "adobe-garamond-pro", serif !important;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 
@layer components {
	/* formatting daisyui components */
	.navbar {
		@apply p-0;
		@apply bg-white;
		@apply min-h-24;
	}
	
	/* formatting for tailwind/typography */
	.prose p {
		/* mobile config */
	}
	
	.prose dd {
		margin-top: 0;
		padding-left: 0;
		padding-right: 0;
		padding-inline-start: 0 !important;
	}
	
	.prose dt {
		margin-top: 0;
	}
	
	.prose pre { 
		@apply bg-black;
		@apply leading-tight;
	}
	
	.prose pre code { 
		@apply text-gray-200;
		@apply bg-black;
		@apply text-sm;
	}
	
	.prose code { 
		/* @apply text-gray-900; */
		@apply text-lg;
		/* @apply bg-gray-400; */
		@apply p-0;
		@apply rounded;
		@apply bg-transparent;
	}
	
	.prose h1 { 
		@apply text-left;
		@apply font-extrabold;
		@apply text-5xl;
		@apply subpixel-antialiased;
		@apply mb-0;
	}
	
	.prose h2, h3, h4 { 
		@apply font-semibold;
		@apply mt-6;
	}
	
	.prose a { 
		@apply hover:text-gray-600;
	}
	
	.prose a.footnote-ref { 
		@apply text-blue-600;
		@apply no-underline;
	}
	
	.prose a.footnote-backref { 
		@apply text-blue-600;
		@apply no-underline;
	}
}

/* formatting for util */
@layer utilities {
  .scrollbar {
    &::-webkit-scrollbar {
      width: 15px;
      height: 15px;
    }

    &::-webkit-scrollbar-track {
      background: #fafafa;
      z-index: 25;
      border-left: 0.5px solid #e8e8e8;
      padding: 2px; /* Adds space around the thumb to prevent overlap */
      box-sizing: border-box;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 50px;
      background: #BDD5E7;
      border: 3px solid #fafafa;
      box-sizing: border-box;
      
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #9ABDDC;
    }
  }
}

