package pages

import (
	"mywebsite/pub/shared"
	"mywebsite/ds"
)

templ ProjectsPage(pages_metadata *ds.PagesMetadata) {
	@shared.Page("Projects", pages_metadata) {
		// TODO: add a list of projects. Also, maybe make projects runnable with wasm runtimes
	}
}


