{{define "home"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Page Title</title>
	<script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
</head>

<body>

	<button hx-post="/clicked">
		Click Me
	</button>

	<form hx-post="http://localhost:1323/todo"
		  hx-target="#todo-list">
		<label for="newTodo">Add Task:</label>
		<input type="text" name="newTodo" id="newTodo" />
		<button type="submit" hx-target="#newTodo" hx-swap="textContext">Submit</button>
	</form>

	<form hx-post="/input">
		<label for="search">Search:</label>
		<input id="search" name="search" type="text"
			hx-post="/IO"
			hx-trigger="keyup changed">
	</form>

	<h2>TO-DO</h2>
	<ol id="todo-list" hx-get="http://localhost:1323/todo" hx-trigger="load"></ol>
</body>
</html>
{{end}}
