package partials

templ Search(link, target string) {
	<form name="search">
	<label for="search">Search: </label>
	<input name="search" 
	class="border-1 bg-transparent h-6 px-1"
	type="text" 
	id="search" 
	hx-post={ link } 
	hx-trigger="keyup changed" 
	hx-target={ target } 
	hx-swap="outerHTML"/>
	</form>
}


