package pages

import (
	"mywebsite/components/shared"
	"mywebsite/components/partials"
	"mywebsite/ds"
)

templ CreativePage(pages_metadata *ds.Pages) {
	@shared.Page("Creative") {
		@partials.Nav(*pages_metadata)
		<body>
		@CreativeContents()
		</body>
	}
}

templ CreativeContents() {
	<h1>Whats up fuckers. Its time to be creative.</h1>
}
