package pages

import (
	"mywebsite/components/shared"
	"mywebsite/components/partials"
	"mywebsite/ds"
)

templ ResourcesPage(pages_metadata *ds.Pages) {
	@shared.Page("Resources") {
		@partials.Menu(*pages_metadata)
	}
}
