package partials

import (
	"mywebsite/ds"
)

templ Menu(pageLinks ds.Pages) {
	<nav class="menu">
		<ul>
			for _, page:= range pageLinks{ 
				@MenuItems(page.Name, page.Link)
			}
		</ul>
	</nav>
}

templ MenuItems(page string, link templ.SafeURL) {
	<li> 
		<a href={ link }> { page } </a>
	</li>
}
