package partials

import (
	"mywebsite/ds"
)

templ Nav(pageLinks ds.Pages) {
	<ul class="menu">
		for _, page:= range pageLinks{ 
			@NavItems(page.Name, page.Link)
		}
	</ul>
}

templ NavItems(page string, link templ.SafeURL) {
	<li> 
		<a href={ link }> { page } </a>
	</li>
}
