package partials

import (
	"mywebsite/ds"
)

templ Nav(pages_metadata ds.PagesMetadata) {
	<ul class="menu">
		for _, pm := range pages_metadata { 
			@NavItems(pm.Name, pm.Path)
		}
	</ul>
}

templ NavItems(page string, link templ.SafeURL) {
	<li> 
		<a href={ link }> { page } </a>
	</li>
}
